.me-container{
  overflow-y: auto;
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  /* height: 100vh; */
  background-color: #8b241a;
}
.cards-container{
  margin-top: 20px;
  display: flex;
  flex-wrap:wrap ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:15px;
}

.card-container {
    width: 300px;
    height: 200px;
    background-color: #d32f2f;
    border-radius: 15px;
    padding: 20px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center; 
  }
  
  .card-content {
    width: 100%;
  }
  
  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
  }
  
  .text-content {
    text-align: left;
    flex: 1; 
  }
  
  .card-title {
    font-size: 1.5rem;
    margin: 0;
  }
  
  #imgg {
    width: 40px; 
    height: 40px; 
    margin-bottom: 110px;
    margin-right: 20px;
  }
  
  .card-details {
    font-size: 1rem;
    margin: 10px 0;
    display: flex;
    justify-content: flex-start; 
  }
  
  .card-detail {
    font-size: 1rem;
    margin: 10px 0;
    display: flex;
    justify-content: flex-start;
  }
  
  #Name, #City {
    color: aliceblue;
    font-weight: bold; 
  }
  
  .card-name-value {
    margin-left: 5px;
  }
  
  .card-subtitle {
    margin: 10px 0 5px;
  }
  .card-button {
    background-color: #fff; 
    color: #d32f2f;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-right: 10px; 
    cursor: pointer;
    font-size: 0.8rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;
    left:130px;
    top:9px;
  }
  
  .card-button:hover {
    background-color: #d32f2f; 
    color: #fff; 
  }